/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/debugbar
/bootstrap/cache
bootstrap/cache/services.php
composer.lock

